
img {
width: 110px;
}

 h1 {
 color: white;
    margin-top: 200px;
    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
}
.slide-up {
    opacity: 0;
    transform: translateY(50px);
    animation: moveIn 1.5s ease-out forwards;
}


@keyframes moveIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.menu-icon {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 96px;
    height: 10px;
    background-color: white;
    margin: 15px 0;
    transition: 0.4s ease;
}


#nav-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
}


#nav-links.show {
    display: flex;
}


#nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-family: sans-serif;
}




body {
background-color: navy;
}


.hamburger span {
  height: 3px;
  width: 100%;
  background-color: navy ;
  border-radius: 10px;
  color: white;
}

p {
    color: #fafcff;
    font-size: 45px;
    font-family: sans-serif;
    text-align: center
}

