

 h1 {
 color: white;
    margin-top: 200px;
    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
}




body {
background-color: navy;
}



p {
    color: #fafcff;
    font-size: 45px;
    font-family: sans-serif;
    text-align: center
}

* {
  margin: 20000;
  padding: 65000;
  box-sizing: border-box;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}


.hamburger-icon {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: navy 1px;
  color: navy;
  cursor: pointer;
  width: 50px;
  height:20px;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: navy;
  color: green;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

img {
width: 120px;
text-align: left:
margin-;left:20;
padding-left:500;
}



#searchInput {
    width: 1000px;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;

}


#searchForm button {
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center:
}



.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}


#searchForm {
    display: flex;
    gap: 5px;
}

h1 {
text-align: left;
}
h2{ text-align: left;
font-size: 50px;
colour: white;
}