

 h1 {
color: white;
     margin-top: 200px;
    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
}




body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #003366, #06125c, #10238f, #06187a);
}


p {
    color: #fafcff;
    font-size: 45px;
    font-family: sans-serif;
    text-align: center
}


.slide-up {
  animation: slideUpAnimation 1s ease-out forwards;
  opacity: 0; /* Starts invisible so it can fade in */
}

/* 2. Create the actual movement timeline */
@keyframes slideUpAnimation {
  from {
    opacity: 0;
    transform: translateY(40px); /* Starts 40 pixels lower */
  }
  to {
    opacity: 1;
    transform: translateY(0);    /* Moves up to its original position */
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}


.hamburger-icon {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: navy 1px;
  color: navy;
  cursor: pointer;
  width: 50px;
  height:20px;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #06125c;
  color: green;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

img {
width: 150px;
text-align: left;
margin-left:20;
padding-left:500;
}



#searchInput {
    width: 1500px;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;

}


#searchForm button {
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}



.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}


#searchForm {
    display: flex;
    gap: 5px;
}


.grid-parent. {
    display: grid;
}

h2{  color: white;
    margin-bottom: 1px;
    margin-top: 5px;
    text-align: left;
    font-size: 40px;
    font-family: sans-serif;
    padding-left: 65px;
}
h3{  color: white;
    margin-bottom: 1px;
    margin-top: 5px;
    text-align: left;
    font-size: 40px;
    font-family: sans-serif;
    padding-left: 65px;
}



.parent {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2;
background-color: goldenrod;
 font-family: "Arial Rounded MT Bold";
    font-size: medium;
 border-style: solid;
}

.div2 { grid-area: 1 / 2 / 2 / 3;
background-color: #1a799c;
border-style: solid;

}


.div3 { grid-area: 1 / 3 / 2 / 4;
background-color: #1a799c;
border-style: solid;


}


.div4 { grid-area: 1 / 4 / 2 / 5;
background-color: #1a799c;
border-style: solid;


}


.div5 { grid-area: 1 / 5 / 2 / 6;
background-color: #1a799c;
border-style: solid;


}


.div6 { grid-area: 1 / 6 / 2 / 7;
background-color: #1a799c;
border-style: solid;


}


.div7 { grid-area: 2 / 1 / 3 / 2;
background-color: crimson;
border-style: solid;

}


.div8 { grid-area: 3 / 1 / 4 / 2;
background-color: crimson;
border-style: solid;

}


.div9 { grid-area: 4 / 1 / 5 / 2;
background-color: crimson;
border-style: solid;

}


.div10 { grid-area: 2 / 2 / 3 / 3;
background-color: blanchedalmond;
border-style: solid;


}


.div11 { grid-area: 3 / 2 / 4 / 3;
background-color: blanchedalmond;
border-style: solid;

}


.div12 { grid-area: 4 / 2 / 5 / 3;
background-color: blanchedalmond;
border-style: solid;



}


.div13 { grid-area: 2 / 3 / 3 / 4;
background-color: blanchedalmond;
border-style: solid;

}


.div14 { grid-area: 3 / 3 / 4 / 4;
background-color: blanchedalmond;
border-style: solid;


}


.div15 { grid-area: 4 / 3 / 5 / 4;
background-color: blanchedalmond;
border-style: solid;


}


.div16 { grid-area: 2 / 4 / 3 / 5;
background-color: blanchedalmond;
border-style: solid;


}


.div17 { grid-area: 3 / 4 / 4 / 5;
background-color: blanchedalmond;
border-style: solid;



}


.div18 { grid-area: 4 / 4 / 5 / 5;
background-color: blanchedalmond;
border-style: solid;



}


.div19 { grid-area: 2 / 5 / 3 / 6;
background-color: blanchedalmond;
border-style: solid;



}


.div20 { grid-area: 3 / 5 / 4 / 6;
background-color: blanchedalmond;
border-style: solid;



}


.div21 { grid-area: 4 / 5 / 5 / 6;
background-color: blanchedalmond;
border-style: solid;



}


.div22 { grid-area: 2 / 6 / 3 / 7;
background-color: blanchedalmond;
border-style: solid;



}


.div23 { grid-area: 3 / 6 / 4 / 7;
background-color: blanchedalmond;
border-style: solid;




}


.div24 { grid-area: 4 / 6 / 5 / 7;
background-color: blanchedalmond;
border-style: solid;




}

.hi{
color: black;
    font-size: 45.5px;


}

.red{
   color: red;
    font-size: 45.5px;


}


.about{
  margin-top: 40px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;


}

.ab{
text-align: center;

}


.contact{
margin-top: 40px;



}